[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
black = "*"
jupyterlab = "*"
pandas = "*"
tqdm = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"
sklearn = "*"
networkx = "*"
pydot = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
